.pic1{
	float:right;
	padding:10px;
	margin:5px;
}

.pic2{
	float:right;
	padding:10px;
	margin:5px;
}

.pic3{
	float:right;
	padding:10px;
	margin:5px;
}

.pic4{
	float:right;
	padding:10px;
	margin:5px;
}

body{
	background-color:purple; 
}

h1{
	text-align:center;
	color:white;
	font-size:50px;
}

#userGuess{
	color:white;
	text-align:center;
	font-size:50px;
}